* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* First bar */
.body_nav0 {
    width: 100%;
    height: 37px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    align-items: center;
    background-color: #007f70ed;
    color: white;
}

.body_nav0_pt1 {
    width: 30%;
    height: 100%;
    font-size: small;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_nav0_pt2 {
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.body_nav0_pt2 a,
.body_nav0_pt2 .body_nav0_pt2_icons {
    height: 100%;
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.body_nav0_pt2 a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-size: small;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    transition-property: all;
}

.body_nav0_pt2 a:hover {
    opacity: 1;
}

.body_nav0_pt2 .body_nav0_pt2_icons i {
    transition-duration: 0.3s;
    transition-timing-function: linear;
    transition-property: all;
    color: white;
    cursor: pointer;
}

.body_nav0_pt2 .body_nav0_pt2_icons i:hover {
    transform: rotateY(360deg);
}

@media (max-width:768px) {
    .body_nav0 {
        justify-content: center;
    }

    .body_nav0_pt1 {
        display: none;
    }

    .body_nav0_pt2 {
        width: 99%;
    }

    .body_nav0_pt2 a:first-of-type {
        font-size: 11px;
    }

    .body_nav0_pt2 a:nth-of-type(2) {
        font-size: 9px;
    }

    .body_nav0_pt2 a {
        display: none;
    }
}

@media (max-width:992px) {
    .body_nav0_pt1 {
        font-size: 11px;
    }

    .body_nav0_pt2 a:nth-of-type(2) {
        font-size: 11px;
    }
}

@media (min-width:1200px) {}

/* second bar */
.body_nav {
    height: 113px;
    display: flex;

}

.body_nav_pt1 {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_nav_pt1 img {
    border-radius: 50%;
    width: 49%;
    box-shadow: 1px 0px 10px #12887a;
    margin-top: 4px;
}

.body_nav_pt2 {
    width: 53%;
}

.body_nav_pt2 form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 4px;
}

.body_nav_pt2 form input {
    width: 68%;
    border-radius: 68px;
}

.body_nav_pt2 form button {
    border-radius: 0px 25px 25px 0px;
    border-left: none;
    position: relative;
    right: 24px;
    background-color: #12887a;
    color: white;
    height: 38px;
}

.form-control:focus {
    color: var(--bs-body-color) !important;
    background-color: var(--bs-form-control-bg) !important;
    border-color: #86b7fe !important;
    outline: 0 !important;
    box-shadow: 0 0 16px 0.25rem #12887a !important;

}

.body_nav_pt3 {
    width: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_nav_pt3 .click {

    border: solid;
    padding: 7px 20px;
    display: flex;
    border-radius: 50px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    transition-property: all;
}

.body_nav_pt3 .click a {
    text-decoration: none;
    color: black;
}

.body_nav_pt3 .click a:hover {
    color: white;
}

.body_nav_pt3 .click:hover {
    box-shadow: 1px 0px 16px #12887a;
    background-color: #12887a;
    color: white;
    border: none;
}

@media (max-width:768px) {
    .body_nav {
        display: flex;
        justify-content: space-around;
    }

    .body_nav_pt1 {
        width: 40%;
    }

    .body_nav_pt1 img {
        width: 100%;
        height: 63%;
    }

    .body_nav_pt2 {
        display: none;
    }



    .body_nav_pt3 {
        width: 60%;
    }
}

@media (max-width:992px) {}

@media (min-width:1200px) {}

/* links */
.body_nav_links.container {
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.body_nav_links.container .linking {
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    align-items: center;
}

.body_nav_links.container .linking a {
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
    transition-property: all;
    transition-timing-function: linear;
    padding: 5px 18px;
    border-radius: 14px;
}

.body_nav_links.container .linking a:hover {
    background-color: #12887a;
    color: white;
}

.links_list {
    width: 9% !important;
}

.links_list_button {
    border: none !important;
    width: 100%;
    height: 91%;
    background-color: #12887a !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5px !important;
    color: white !important;
    padding-left: 5px !important;
    padding-bottom: 2px !important;
    border-radius: 10px !important;
}

.side_bar {
    background-color: #09443d !important;
    color: white !important;
}

.Bar_lines:hover {
    width: 50% !important;
}

.links_list_button .Bar_lines {
    border: solid #0000008a 1px;
    width: 100%;
    margin-bottom: 8px;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

@media (max-width:768px) {
    .body_nav_links.container .linking a {
        display: none;
    }

    .links_list {
        width: 19% !important;
        position: relative;
        right: -39%;
    }

}

@media (max-width:992px) {
    .body_nav_links.container .linking a {
        display: none;
    }

    .links_list {
        width: 19% !important;
        position: relative;
        right: -39%;
    }
}

@media (min-width:1200px) {}

/* Body 1 */
.body1.container {
    margin-top: 7px;
    height: 1250px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 9% 1fr;
}

.body1_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.body1_title p {
    font-size: 25px;
    font-weight: bold;
    color: #12887a;
    text-shadow: 1px 1px 2px #12887a;
}

.body1_title p::after {
    content: "";
    display: block;
    width: 100%;
    border: solid #12887a 0.8px;
}

.body_cards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}

.body1_cardX {
    width: calc(80%/3) !important;
    height: 360px !important;
    margin-left: 19px;
    margin-top: 10px;
}

.body1_cardX .card-body a {
    text-decoration: none;
    color: #12887a;
    font-weight: bold;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

.body1_cardX .card-body a:hover {
    margin-left: 2px;
    text-decoration: underline;
}

@media (max-width:768px) {
    .body1.container {
        height: 3700 !important;
        grid-template-rows: 5% 1fr;
    }

    .body1_cardX {
        width: 80% !important;
        height: 419px !important;
    }
}

@media (max-width:992px) {
    .body1.container {
        height: 1354px;
    }

    .body1_cardX {
        width: calc(80%/2);
    }

}


/* foot */
.foot {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 75% 1fr;
    background-color: #009282;
    color: white;
}

.foot_pt1.container {
    display: flex;
    flex-direction: row;
}

.foot_sec2,
.foot_sec3,
.foot_sec4 {
    width: calc(60%/3);
}

.foot_sec1 {
    width: 40%;
}

.foot_sec1 p:first-of-type {
    font-size: xx-large;
    font-weight: bold;
}

.foot_sec1 p:first-of-type+p {
    line-height: 1.4;
}

.icons_foot {
    width: 70%;
    height: 50px;
    display: flex;
    align-items: center;
}

.icons_foot i {
    font-size: large;
    border: solid;
    border-radius: 50%;
    padding: 3%;
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s linear all;
}

.icons_foot i:hover {
    opacity: 1;
}

.icons_foot i:nth-of-type(2),
.icons_foot i:nth-of-type(3),
.icons_foot i:nth-of-type(4) {
    margin-left: 10px;
}

.foot_sec2,
.foot_sec3,
.foot_sec4 {
    padding-top: 8px;
    padding-left: 10px;
}

.foot_sec2 p:first-of-type,
.foot_sec3 p:first-of-type,
.foot_sec4 p:first-of-type {
    font-size: large;
    font-weight: bold;
}

.foot_sec2 ul,
.foot_sec3 ul {
    list-style: none;
    padding: 0;
    line-height: 2;
}

.foot_sec2 li,
.foot_sec3 li {
    font-size: 15px;
    font-weight: bold;
    opacity: 0.7;
    transition: 0.3s linear all;
}

.foot_sec2 li:hover,
.foot_sec3 li:hover {
    opacity: 1;
}

.foot_sec2 li a,
.foot_sec3 li a {
    text-decoration: none;
    color: white;
}

.foot_sec4 ul {
    list-style: none;
    padding: 0;
    font-size: smaller;
}

.foot_sec4 ul li span {
    font-weight: bold;
}

.foot_pt2.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot_pt2.container p {
    text-align: center;
}

.foot_pt2.container span {
    font-weight: bold;
}

@media (max-width:768px) {
    .foot {
        height: 782px !important;
    }

    .foot_pt1.container {
        flex-wrap: wrap !important;
    }

    .foot_sec1 {
        width: 100% !important;
    }

    .foot_sec2,
    .foot_sec3,
    .foot_sec4 {
        width: calc(80%/2) !important;
    }
}


@media (min-width:992px) {
    .foot {
        height: 300px !important;
    }

    .foot_pt1.container {
        flex-wrap: nowrap !important;
    }

    .foot_sec1 {
        width: 40% !important;
    }

    .foot_sec2,
    .foot_sec3,
    .foot_sec4 {
        width: calc(60%/3) !important;
    }
}